
@import"./variables";
@import"./titles";
@import"./_btn";
@import "./mixin";


@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');





body{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    
}

.btn {
    @include btn-size(170px,35px);
    font-size: 1.3rem;
    border-radius: 0;
    line-height: 130%;
}
  
.nav-link{
    font-size: larger;
}
